.container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
}

.input {
  flex: 1;
  min-width: 200px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 150px;
}
